<template>
    <PageComponent title="Dashboard">
        Content goes here
    </PageComponent>
</template>

<script setup>
import PageComponent from "../components/PageComponent.vue"
</script>

<style scoped>

</style>
